@charset "UFT-8";


@media  screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top , rgb(174, 118, 44) , black);
    }
    section#login{
        width: 70vw;
        height: 300px;
        
        
    }
    div#imagem{
        background-position: right top;
        float: left ;
        height: 100%;
        width: 40%;
    }
    div#formulario{
        float: right;
        width: 56%;
    }
    
    .texto{
        font-size: 1.0em;
    }
   .essenha{
    text-align: center;
   }

}
@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(to top , rgb(174, 118, 44) , black);
    }
    section#login{
        width: 950px;
        height: 300px;
    }
    div#imagem{
        float: right;
        background-position: right top;
        height: 100%;
        width: 40%;
    }
    section#formulario{
        float: right;
        width: 40%;
        
    }
    form div.campo{
        width: 40%;
       margin-left: 100px;

    }
    div.potaoenviar{
        float: left;
        width: 40%;
        margin-left: 100px;
        
    }
    div a.botao{
        width: 40%;
        margin-top: 40px;
        margin-left: 100px;
    }

    .texto{
        font-size: 1.1em;
    }
    

    /*add*/
   

}